<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    Hero CSS 
    <link rel="stylesheet" href="/stylesheets/hero.css">

    Blog CSS
    <link rel="stylesheet" href="/stylesheets/blog_land.css">
</head>
<body>
    <!-- ****************NAVIGATION BAR *********************** -->
    <nav>
        
<header id="header">
    <nav id="nav-bar">
      <ul class="nav-list">
        <ul class="nav-left">
          <li>
            <a href="/">
              <img id="header-img" src="/images/logo.png" alt="MeTbot">
            </a>
          </li>
        </ul>
        <div class="menu-wrap">
          <input type="checkbox" class="toggler">
          <div class="hamburger">
            <div></div>
          </div>
          <div class="menu">
            <div>
              <div>
                <ul class="nav-list">
                  <li class="nav-elements">
                    <a class="nav-link" href="#services">Services</a>
                  </li>
                  <li class="nav-elements">
                    <a class="nav-link" href="#testimonials">Testimonials</a>
                  </li>
                  <li class="nav-elements">
                    <a class="nav-link" href="#pricing">Pricing</a>
                  </li>
                  <li class="nav-elements">
                    <a class="nav-link" href="#contact">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </ul>
    </nav>
  
  </header>
    </nav>

    <%-body%>

    <!-- *****************************     FOOTER       ************************* -->
    <a id="contact" href="#"></a>
    <footer id="footer">
      <div class="footer-container">
        <h1 class="footer-text align-center">
          Stay in the loop
        </h1>
  
        <p class="footer-description align-center">
          Subscribe to our newsletter to get the latest news and updates.
        </p>
  
        <form action="" id="form">
          <input type="email" name="email" id="email" placeholder="Enter your email address">
          <input type="submit" id="submit" class="btn align-center text-small footer-btn" value="Subscribe">
        </form>
      </div>
  
      <ul class="footer-list">
        <dd class="footer-list-item">
          <a href="#"><img id="logo" src="/images/logo.png" alt="Robot"></a>
        </dd>
        <dl class="footer-list-container">
          <dt class="footer-list-title">
            Solutions
          </dt>
          <dd class="footer-list-item">
            <a href="#">Why Us?</a>
          </dd>
          <dd class="footer-list-item">
            <a href="#">Features</a>
          </dd>
          <dd class="footer-list-item">
            <a href="#">Services</a>
          </dd>
          <dd class="footer-list-item">
            <a href="#">Customer Stories</a>
          </dd>
        </dl>
  
        <dl class="footer-list-container">
          <dt class="footer-list-title">
            Resources
          </dt>
          <dd class="footer-list-item">
            <a href="#">Documentation</a>
          </dd>
          <dd class="footer-list-item">
            <a href="#">API</a>
          </dd>
          <dd class="footer-list-item">
            <a href="#">Help Center</a>
          </dd>
          <dd class="footer-list-item">
            <a href="#">App Directory</a>
          </dd>
          <dd class="footer-list-item">
            <a href="#">Download</a>
          </dd>
          <dd class="footer-list-item">
            <a href="#">Tips & Tricks</a>
          </dd>
          <dd class="footer-list-item">
            <a href="#">Members Program</a>
          </dd>
        </dl>
  
        <dl class="footer-list-container">
          <dt class="footer-list-title">
            Pricing
          </dt>
          <dd class="footer-list-item">
            <a href="#">Free Trial</a>
          </dd>
          <dd class="footer-list-item">
            <a href="#">For Teams</a>
          </dd>
          <dd class="footer-list-item">
            <a href="#">Enterprise</a>
          </dd>
        </dl>
  
        <dl class="footer-list-container">
          <dt class="footer-list-title">
            About
          </dt>
          <dd class="footer-list-item">
            <a href="#">Our Story</a>
          </dd>
          <dd class="footer-list-item">
            <a href="#">Blog</a>
          </dd>
          <dd class="footer-list-item">
            <a href="#">Careers</a>
          </dd>
          <dd class="footer-list-item">
            <a href="#">News Room</a>
          </dd>
          <dd class="footer-list-item">
            <a href="#">Legal</a>
          </dd>
        </dl>
      </ul>
  
      <p class="footer-copyright align-center">
        Copyright &copy; 2022 MeTbot Inc.
      </p>
  
    </footer>

    <!-- <script>
      const nav = document.querySelector('nav');
      
      window.addEventListener('scroll', function() {
        if (window.pageYOffset > 0) {
          nav.classList.add('scrolled');
        } else {
          nav.classList.remove('scrolled');
        }
      });
      
      </script> -->

</body>
</html>