<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Quote Website</title>
    
  </head>
  <link rel="stylesheet" href="/stylesheets/quotics.css">
  <body>
    <nav><h1 >Quote Website</h1></nav>
    
    <hr>
    <h2>Quote of the Day</h2>
    <div class="card">
      <h3>"The only way to do great work is to love what you do."</h3>
      <p>- Steve Jobs</p>
      <div class="button">
        <button>Like</button>
        <button>Share</button>
        <button>Bookmark</button>
      </div>
    </div>
    <hr>
    <h2>Popular Quotes</h2>
    <div class="row">
      <div class="card">
        <h3>"In three words I can sum up everything I've learned about life: it goes on."</h3>
        <p>- Robert Frost</p>
        <div class="button">
          <button>Like</button>
          <button>Share</button>
          <button>Bookmark</button>
        </div>
      </div>
      <div class="card">
        <h3>"Be the change you wish to see in the world."</h3>
        <p>- Mahatma Gandhi</p>
        <div class="button">
          <button>Like</button>
          <button>Share</button>
          <button>Bookmark</button>
        </div>
      </div>
      <div class="card">
        <h3>"It does not matter how slowly you go as long as you do not stop."</h3>
        <p>- Confucius</p>
        <div class="button">
          <button>Like</button>
          <button>Share</button>
          <button>Bookmark</button>
        </div>
      </div>
      <div class="card">
        <h3>"It does not matter how slowly you go as long as you do not stop."</h3>
        <p>- Confucius</p>
        <div class="button">
          <button>Like</button>
          <button>Share</button>
          <button>Bookmark</button>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="card">
          <h3>"In three words I can sum up everything I've learned about life: it goes on."</h3>
          <p>- Robert Frost</p>
          <div class="button">
            <button>Like</button>
            <button>Share</button>
            <button>Bookmark</button>
          </div>
        </div>
        <div class="card">
          <h3>"Be the change you wish to see in the world."</h3>
          <p>- Mahatma Gandhi</p>
          <div class="button">
            <button>Like</button>
            <button>Share</button>
            <button>Bookmark</button>
          </div>
        </div>
        <div class="card">
          <h3>"It does not matter how slowly you go as long as you do not stop."</h3>
          <p>- Confucius</p>
          <div class="button">
            <button>Like</button>
            <button>Share</button>
            <button>Bookmark</button>
          </div>
        </div>
        <div class="card">
          <h3>"It does not matter how slowly you go as long as you do not stop."</h3>
          <p>- Confucius</p>
          <div class="button">
            <button>Like</button>
            <button>Share</button>
            <button>Bookmark</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <h3>"In three words I can sum up everything I've learned about life: it goes on."</h3>
          <p>- Robert Frost</p>
          <div class="button">
            <button>Like</button>
            <button>Share</button>
            <button>Bookmark</button>
          </div>
        </div>
        <div class="card">
          <h3>"Be the change you wish to see in the world."</h3>
          <p>- Mahatma Gandhi</p>
          <div class="button">
            <button>Like</button>
            <button>Share</button>
            <button>Bookmark</button>
          </div>
        </div>
        <div class="card">
          <h3>"It does not matter how slowly you go as long as you do not stop."</h3>
          <p>- Confucius</p>
          <div class="button">
            <button>Like</button>
            <button>Share</button>
            <button>Bookmark</button>
          </div>
        </div>
        <div class="card">
          <h3>"It does not matter how slowly you go as long as you do not stop."</h3>
          <p>- Confucius</p>
          <div class="button">
            <button>Like</button>
            <button>Share</button>
            <button>Bookmark</button>
          </div>
        </div>
      </div>

      <script>
        const nav = document.querySelector('nav');
    
        window.addEventListener('scroll', function() {
          if (window.pageYOffset > 0) {
            nav.classList.add('scrolled');
          } else {
            nav.classList.remove('scrolled');
          }
        });
      </script>
</body>
</html>